<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head>
        <title>
            Rango -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <script src="{% static "js/jquery.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/stylesheet.css">


    </head>
    <body>
        <div>
            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock %}
            <li><a href="{% url 'rango:about' %}">About</a></li>
            <li><a href="{% url 'rango:index' %}">Home Page</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                <li><a href="{% url 'auth_password_change' %}">Change password</a></li>
            {% else %}
                <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
            {% endif %}
        </div>
        <div>
           {% block body_block %}

           {% endblock %}
        </div>
    </body>
</html>